In [1]:
import pandas as pd
import pickle

In [2]:
df = pd.read_csv('./data/cleaned_universities.csv')

In [3]:
with open('linreg.pkl', 'rb') as file:
    model = pickle.load(file)

In [10]:
testing = df.sample(5)

In [11]:
testing

,in-state tuition,out-of-state tuition,new_student_top_10,new_student_top_25,new_student_enrolled,% fac. w/PHD,student_faculty_ratio,school_type,Graduation rate
506,12224.0,12224.0,23.0,51.0,186.0,63.0,11.5,Private,77.0
1168,2064.0,4694.0,20.0,65.0,557.0,57.0,16.5,Private,46.0
1117,2053.0,7242.0,8.0,65.0,1007.0,67.0,18.1,Public,51.0
26,8644.0,8644.0,46.0,74.0,166.0,79.0,12.6,Private,54.0
867,10860.0,10860.0,29.0,58.0,317.0,56.0,12.9,Private,96.0

In [12]:
testing['school_type'] = testing['school_type'].astype('category')
testing['school_type_codes'] = testing['school_type'].cat.codes

In [13]:
testing.drop(columns=['Graduation rate', 'school_type'], inplace=True)

In [14]:
model.predict(testing)

array([67.44057555, 55.86349115, 53.28075986, 67.13446393, 67.06569931])

In [15]:
model.feature_names_in_

array(['in-state tuition', 'out-of-state tuition', 'new_student_top_10',
       'new_student_top_25', 'new_student_enrolled', '% fac. w/PHD',
       'student_faculty_ratio', 'school_type_codes'], dtype=object)