In [1]:
import pandas as pd
import pickle

In [2]:
df = pd.read_csv('./data/cleaned_universities.csv')

In [3]:
with open('model.pkl', 'rb') as file:
    model = pickle.load(file)

In [4]:
testing = df.sample(5)

In [7]:
testing

,in-state tuition,out-of-state tuition,new_student_top_10,new_student_top_25,new_student_enrolled,room,board,% fac. w/PHD,student_faculty_ratio,school_type,full_time_undergrad,part_time_undergrad,estim. book costs,estim. personal $,Graduation rate,school_type_codes
359,4400.0,4400.0,0.0,0.0,171.0,2160.0,2036.312162,72.0,16.1,Private,674.0,472.0,534.0,1321.797862,73.0,0
891,2370.0,6694.0,15.0,50.0,1030.0,2537.0,2600.000000,74.0,15.7,Public,4882.0,2706.0,500.0,1321.797862,47.0,1
957,7440.0,7440.0,23.0,52.0,721.0,2160.0,2036.312162,70.0,18.1,Private,2885.0,537.0,450.0,2200.000000,60.0,0
683,9990.0,9990.0,30.0,70.0,302.0,1850.0,1700.000000,85.0,15.0,Private,1210.0,26.0,500.0,1500.000000,67.0,0
694,7470.0,7470.0,14.0,48.0,238.0,4600.0,2036.312162,74.0,15.3,Private,1170.0,429.0,250.0,1400.000000,88.0,0

In [8]:
testing['school_type'] = testing['school_type'].astype('category')
testing['school_type_codes'] = testing['school_type'].cat.codes

In [9]:
testing.drop(columns=['Graduation rate', 'school_type'], inplace=True)

In [10]:
model.predict(testing)

array([46.24, 48.38, 60.33, 67.43, 61.21])

In [11]:
model.feature_names_in_

array(['in-state tuition', 'out-of-state tuition', 'new_student_top_10',
       'new_student_top_25', 'new_student_enrolled', 'room', 'board',
       '% fac. w/PHD', 'student_faculty_ratio', 'full_time_undergrad',
       'part_time_undergrad', 'estim. book costs', 'estim. personal $',
       'school_type_codes'], dtype=object)